:root {
  --primary-color: #3772B6;
  --background-color: #ffffff;
  --text-color: #333;
  --button-color: #3772B6;
  --button-text-color: #fff;
  --form-border-color: #ddd;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  min-height: 100vh; /* Ensure full viewport height */
}

.App {
  padding: 20px;
}

h1, h2 {
  color: var(--primary-color);
  text-align: center;
}

.table-section {
  margin: 20px auto;
  max-width: 800px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  border: 1px solid var(--form-border-color);
  padding: 12px;
  text-align: left;
}

table th {
  background-color: var(--primary-color);
  color: white;
}

.form-section {
  background-color: white;
  border: 1px solid var(--form-border-color);
  padding: 20px;
  max-width: 600px;
  margin: 20p
}

.form-section h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-section label {
  display: block;
  margin-bottom: 10px;
}

.form-section input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid var(--form-border-color);
  border-radius: 4px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: var(--button-color);
  color: var(--button-text-color);
  border-radius: 4px;
  cursor: pointer;
  width: 30%; /* Ensure consistent button width */
}

button:hover {
  background-color: #4fa8d2;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.selected {
  font-weight: bold; /* Highlight selected item in bold */
  background-color: #f0f0f0; /* Optional: light gray background for selected item */
}
